$themeDarker: var(--themeDarker);
$themeDark: var(--themeDark);
$themeDarkAlt: var(--themeDarkAlt);
$themePrimary: var(--themePrimary);
$themeSecondary: var(--themeSecondary);
$themeTertiary: var(--themeTertiary);
$themeLight: var(--themeLight);
$themeLighter: var(--themeLighter);
$themeLighterAlt: var(--themeLighterAlt);
$black: var(--black);
$blackTranslucent40: var(--blackTranslucent40);
$neutralDark: var(--neutralDark);
$neutralPrimary: var(--neutralPrimary);
$neutralPrimaryAlt: var(--neutralPrimaryAlt);
$neutralSecondary: var(--neutralSecondary);
$neutralSecondaryAlt: var(--neutralSecondaryAlt);
$neutralTertiary: var(--neutralTertiary);
$neutralTertiaryAlt: var(--neutralTertiaryAlt);
$neutralQuaternary: var(--neutralQuaternary);
$neutralQuaternaryAlt: var(--neutralQuaternaryAlt);
$neutralLight: var(--neutralLight);
$neutralLighter: var(--neutralLighter);
$neutralLighterAlt: var(--neutralLighterAlt);
$accent: var(--accent);
$white: var(--white);
$whiteTranslucent40: var(--whiteTranslucent40);
$yellowDark: var(--yellowDark);
$yellow: var(--yellow);
$yellowLight: var(--yellowLight);
$orange: var(--orange);
$orangeLight: var(--orangeLight);
$orangeLighter: var(--orangeLighter);
$redDark: var(--redDark);
$red: var(--red);
$magentaDark: var(--magentaDark);
$magenta: var(--magenta);
$magentaLight: var(--magentaLight);
$purpleDark: var(--purpleDark);
$purple: var(--purple);
$purpleLight: var(--purpleLight);
$blueDark: var(--blueDark);
$blueMid: var(--blueMid);
$blue: var(--blue);
$blueLight: var(--blueLight);
$tealDark: var(--tealDark);
$teal: var(--teal);
$tealLight: var(--tealLight);
$greenDark: var(--greenDark);
$green: var(--green);
$greenLight: var(--greenLight);
