* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

._page_main-page {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    overflow: auto;
}